/*================首页样式及公共部分样式================*/
.National {
  transition: all 1s;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.National div {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.National img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.National .img2 {
  display: none;
}
.National span {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  background: url(../images/icon/icon_72.png) center no-repeat;
  cursor: pointer;
}
.header {
  transition: all 1s;
  top: 206px;
}
.header_fixed {
  transition: all 1s;
  top: 0;
}
.banner {
  transition: all 1s;
  padding-top: 150px;
}
.body_cur .National {
  height: 0px;
}
.body_cur .banner {
  padding-top: 0;
}
.body_cur .header {
  top: 56px;
}
.body_cur .header_fixed {
  top: 0px;
}
.tab_water_main {
  position: relative;
}
.water_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}
.water_img img {
  margin-right: 42px;
  float: left;
  width: 372px;
}
.water_img img:nth-child(3n) {
  margin-right: 0;
}
.water_box {
  /* display: none; */
}
@media (max-width: 1200px) {
  .National {
    z-index: 1;
    height: 1.5rem;
  }
  .National div {
    height: 1.5rem;
  }
  .National .img1 {
    display: none;
  }
  .National .img2 {
    display: block;
  }
  .National span {
    right: 0.15rem;
    top: 0.15rem;
    width: 0.32rem;
    height: 0.32rem;
    background: url(../images/icon/icon_72s.png) center no-repeat;
    background-size: 100% auto;
  }
  .banner {
    padding-top: 1.5rem;
  }
  .m_header {
    transition: all 1s;
    top: 1.5rem;
  }
  .body_cur .m_header,
  .m_header_fixed {
    top: 0px;
  }
  #index {
    position: relative;
    z-index: 2;
  }
  body {
    overflow: auto;
  }
  body.on {
    overflow: hidden;
  }
  body.on .m_header {
    top: 0;
  }
}
.banner .banner_bac {
  position: relative;
  background: #f2f7fe;
}
.banner .pic {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.banner .m_pic {
  display: none;
}
.banner .pic i {
  transform: scale(1);
  transition-duration: 20s;
  width: 100%;
  height: 100%;
}
.banner .pic img {
  position: absolute;
  left: 39.8%;
  top: 41.47%;
  width: 38.38%;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.banner .s1 .dot {
  position: absolute;
  left: 29.4%;
  top: 40%;
  z-index: 4;
  cursor: pointer;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.banner .s1 .dot .icon {
  position: relative;
  margin-left: -22px;
  margin-bottom: 10px;
  width: 44px;
  height: 44px;
  background: url(../images/icon/ind08_5.png) center no-repeat;
}
.banner .s1 .dot .icon::before {
  content: '';
  position: absolute;
  background: url(../images/icon/ind08_5_bors.png) center no-repeat;
  background-size: 100% auto;
  top: 2px;
  right: 0px;
  bottom: 0px;
  left: 2px;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  opacity: 1;
  -webkit-animation-name: hvr-ripple-out-j;
  animation-name: hvr-ripple-out-j;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.banner .s1 .dot .icon::after {
  content: '';
  position: absolute;
  background: url(../images/icon/ind08_5_bor.png) center no-repeat;
  background-size: 100% auto;
  top: 2px;
  right: 0px;
  bottom: 0px;
  left: 2px;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  opacity: 1;
  -webkit-animation-name: hvr-ripple-out-s;
  animation-name: hvr-ripple-out-s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.banner .s1 .dot p {
  margin-left: -64px;
  font-size: 16px;
  color: #fff;
}
@-webkit-keyframes hvr-ripple-out-j {
  1% {
    opacity: 1;
  }
  100% {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out-j {
  1% {
    opacity: 1;
  }
  100% {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
  }
}
@-webkit-keyframes hvr-ripple-out-s {
  1% {
    opacity: 1;
  }
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out-s {
  1% {
    opacity: 1;
  }
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}
.banner .s1 .next {
  position: absolute;
  left: calc(28.4% + 100px);
  top: 34%;
  z-index: 4;
}
.banner .s1 .next .bor_box {
  transition: all 0.5s;
  position: relative;
  width: 683px;
  height: 0px;
  overflow: hidden;
}
.banner .s1 .next .bor_box.block {
  transition: all 0.5s;
  height: 372px;
}
.banner .s1 .next .next_box {
  margin: 0 69px 26px 0;
  padding: 36px 30px 50px;
  height: 260px;
  border-radius: 6px 100px 6px 100px;
  background: #fff;
}
.banner .s1 .next .title {
  margin-bottom: 20px;
  display: flex;
  line-height: 28px;
  font-size: 24px;
  color: #165999;
}
.banner .s1 .next .title i {
  font-weight: bold;
}
.banner .s1 .next .title em {
  font-weight: bold;
  color: #169cb2;
}
.banner .s1 .next .mascot {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  width: 151px;
  height: 131px;
  background: url(../images/icon/icon_16.png) right bottom no-repeat;
}
.banner .s1 .next .delete {
  position: absolute;
  right: 50px;
  top: 7px;
  width: 35px;
  height: 35px;
  background: url(../images/icon/icon_15.png) right bottom no-repeat;
  cursor: pointer;
}
.banner .s1 .scrollbar {
  height: 210px;
}
.banner .s1 .scrollbar p {
  font-size: 16px;
  color: #666;
  line-height: 26px;
  text-indent: 2em;
  text-align: justify;
}
.banner .s1 .swiper-container {
  width: 100%;
  height: 100%;
}
.banner .s1 .swiper-slide {
  padding: 0 40px 0 0;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.banner .s1 .swiper-container-vertical > .swiper-scrollbar {
  width: 3px;
}
.banner .s1 .swiper-scrollbar {
  background: url(../images/icon/icon_15.jpg) center top repeat-y;
}
.banner .s1 .swiper-scrollbar-drag {
  background: #165999;
}
.banner .s1 .bac {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.33;
}
.banner .s2 .pic img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .bor {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 8;
  width: 100%;
  height: 40px;
  background: #f2f7fe;
}
.banner .wave {
  position: absolute;
  left: 0;
  bottom: 40px;
  z-index: 8;
  width: 100%;
}
.banner .waves {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: -5px;
  /*Fix for safari gap*/
  min-height: 50px;
  max-height: 120px;
}
.banner .parallax > use {
  animation: move-forever 50s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.banner .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 14s;
}
.banner .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 20s;
}
.banner .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 26s;
}
.banner .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 40s;
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .banner .waves {
    height: 40px;
    min-height: 40px;
  }
}
.title_all {
  margin-bottom: 33px;
  line-height: 30px;
}
.title_all b {
  float: left;
  font-size: 22px;
  color: #333;
  font-weight: bold;
}
.title_all a {
  float: right;
  font-size: 16px;
  color: #333;
}
.title_all a:hover {
  color: #125999;
}
#index {
  position: relative;
  z-index: 2;
  background: #fff;
}
.ind01 {
  padding: 35px 0 76px;
  background: #f2f7fe;
}
.ind01 .title_all {
  display: none;
}
.ind01 .next {
  width: 535px;
}
.ind01 .next .title {
  margin-bottom: 36px;
  font-size: 31px;
  color: #125999;
}
.ind01 .next .title i {
  float: left;
  font-weight: bold;
}
.ind01 .next .title em {
  float: left;
  font-weight: bold;
  color: #1a9cb2;
}
.ind01 .next p {
  font-size: 16px;
  color: #666;
  line-height: 30px;
  text-align: justify;
  text-indent: 2em;
}
.ind01 .next .more {
  margin-top: 26px;
  line-height: 64px;
  color: #333;
}
.ind01 .next .more em {
  transition: all 0.5s;
  display: inline-block;
  border-bottom: #0b4da2 1px solid;
}
.ind01 .next .more:hover em {
  transition: all 0.5s;
  color: #0b4da2;
  letter-spacing: 1px;
}
.ind01 .pic {
  position: relative;
  width: 597px;
  height: 332px;
  cursor: pointer;
}
.ind01 .pic i {
  width: 100%;
  height: 100%;
}
.ind01 .pic .pos {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 81px;
  height: 81px;
  background: url(../images/icon/icon_2.png) center no-repeat;
}
.M_ind02 {
  display: none;
}
.ind02 {
  position: relative;
  padding: 66px 0 200px;
  background: url(../images/index/ind02_bac.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden;
}
.ind02 .w1200 {
  position: relative;
  z-index: 3;
}
.ind02 .title {
  margin-bottom: 58px;
  font-size: 34px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.ind02 .tab_title {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.ind02 .tab_title .title_box {
  display: flex;
  justify-content: center;
  margin: 0 15px;
  width: 155px;
  height: 60px;
  line-height: 60px;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.ind02 .tab_title .title_box p {
  padding-left: 33px;
  font-size: 16px;
  color: #125999;
  background: url(../images/icon/icon_79.png) left center no-repeat;
}
.ind02 .tab_title .title_box:nth-child(1) p {
  background: url(../images/icon/icon_78.png) left center no-repeat;
}
.ind02 .tab_title .title_box.cur {
  background: #125999;
}
.ind02 .tab_title .title_box.cur p {
  color: #fff;
  background: url(../images/icon/icon_79s.png) left center no-repeat;
}
.ind02 .tab_title .title_box:nth-child(1).cur p {
  background: url(../images/icon/icon_78s.png) left center no-repeat;
}
.ind02 .tab_next {
  height: 416px;
}
.ind02 .tab_next .next {
  position: relative;
  width: 1210px;
}
.ind02 .tab_next .next .bac_zz {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 1200px;
  height: 100%;
  background: #000;
  opacity: 0.1;
  cursor: pointer;
}
.ind02 .module {
  width: 200px;
  overflow: hidden;
}
.ind02 .module.cur {
  width: 800px;
}
.ind02 .over {
  width: 800px;
  white-space: normal;
}
.ind02 .left {
  position: relative;
  width: 200px;
  height: 416px;
  cursor: pointer;
  overflow: hidden;
}
.ind02 .module:nth-child(1) {
  border-radius: 9px 0 0 9px;
}
.ind02 .module:nth-child(3) {
  border-radius: 0 9px 9px 0;
}
.ind02 .left i {
  transform: scale(1);
  transition-duration: 0.5s;
  width: 100%;
  height: 100%;
}
.ind02 .module:hover .left i {
  transform: scale(1.08);
  transition-duration: 0.5s;
}
.ind02 .left .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: #fff;
  text-align: center;
}
.ind02 .left b {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
}
.ind02 .left em {
  margin-bottom: 20px;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
}
.ind02 .left span {
  margin: 0 auto;
  width: 35px;
  height: 2px;
  background: #fff;
}
.ind02 .right {
  position: relative;
  padding: 0 16px;
  width: 568px;
  height: 416px;
  background: #fff;
}
.ind02 .right .swiper-container {
  padding: 40px 0 36px;
}
.ind02 .right .swiper-slide {
  padding: 1px 0;
  font-size: 0;
}
.ind02 .right .swiper-slide .a_ls {
  position: relative;
  float: left;
  margin: 0 2.6% 15px 0;
  width: 48.7%;
  line-height: 50px;
  font-size: 16px;
  color: #333;
  text-align: center;
  border-radius: 6px;
  background: #f4f6f7;
}
.ind02 .right .swiper-slide .a_ls p {
  margin: 0 auto;
  width: 92%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ind02 .right .swiper-slide .a_ls:nth-child(2n) {
  margin-right: 0;
}
.ind02 .right .swiper-slide .a_ls:hover {
  color: #fff;
  background: #245f9e;
}
.ind02 .right .swiper-slide .a_ls.cur {
  color: #ccc;
  background: #f4f6f7;
  cursor: not-allowed;
}
.ind02 .right .swiper-slide .a_ls.cur::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 59px;
  height: 19px;
  border-radius: 6px 0 6px 0;
  content: "";
}
.ind02 .swiper-pagination {
  bottom: 14px;
}
.ind02 .swiper-pagination .swiper-pagination-bullet {
  transition: all 0.5s;
  width: 10px;
  height: 10px;
  background: #125999;
  opacity: 1;
  border-radius: 10px;
}
.ind02 .swiper-pagination .swiper-pagination-bullet-active {
  transition: all 0.5s;
  width: 22px;
  background: #125999;
}
.ind02 .next dl dt {
  margin-bottom: 8px;
  border-radius: 9px;
  overflow: hidden;
}
.ind02 .next dl dd {
  border-radius: 9px;
  overflow: hidden;
}
.ind02 .wave {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
}
.ind02 .waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -10px;
  /*Fix for safari gap*/
  min-height: 70px;
  max-height: 150px;
}
.ind02 .parallax > use {
  animation: move-forever 50s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.ind02 .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 20s;
}
.ind02 .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 28s;
}
.ind02 .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 34s;
}
.ind02 .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 48s;
}
.ind02 section {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
}
.ind03 {
  padding: 30px 0 96px;
}
.ind03 .tab_next {
  padding: 38px 24px 30px 24px;
  width: calc(804px - 74px);
  height: 298px;
  box-shadow: 0 0 30px rgba(94, 158, 255, 0.2);
  border-radius: 10px;
}
.ind03 .tab_next .title_box {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
.ind03 .tab_next .list_box a {
  line-height: 52px;
}
.ind03 .tab_next .list_box i {
  float: left;
  position: relative;
  z-index: 3;
  width: 26px;
  height: 52px;
  background: url(../images/icon/icon_3.jpg) left center no-repeat;
  background-size: 5px auto;
}
.ind03 .tab_next .list_box p {
  float: left;
  max-width: 80%;
  font-size: 20px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ind03 .tab_next .list_box em {
  float: right;
  font-size: 18px;
  color: #777;
  font-family: Arial;
}
.ind03 .tab_next .list_box a:hover p,
.ind03 .tab_next .list_box a:hover em {
  color: #125999;
}
.ind03 .tab_next .list_box a:hover i {
  background: url(../images/icon/icon_3s.jpg) left center no-repeat;
  background-size: 5px auto;
}
.ind03 .right {
  padding: 40px 20px 0 24px;
  width: 319px;
  height: 326px;
  background: #1a9cb2;
  border-radius: 10px;
}
.ind03 .right dt {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.ind03 .right dd a {
  margin-top: 20px;
}
.ind03 .right dd p {
  margin-bottom: 12px;
  padding-left: 20px;
  line-height: 33px;
  font-size: 20px;
  color: #fff;
  background: url(../images/icon/icon_5.jpg) left 16px no-repeat;
}
.ind03 .right dd em {
  padding-left: 20px;
  font-size: 18px;
  color: #fff;
  opacity: 0.7;
  font-family: Arial;
}
.ind04 {
  padding: 79px 0 64px;
  background: #f2f7fe;
}
.ind04 .title_all {
  display: none;
}
.ind04 .left {
  width: 581px;
}
.ind04 .left a {
  float: left;
  width: 286px;
  border-radius: 6px;
  overflow: hidden;
}
.ind04 .left a:nth-child(3) {
  float: right;
}
.ind04 .left .pic {
  width: 100%;
  height: 175px;
  overflow: hidden;
}
.ind04 .left .pic img,
.ind04 .left .pic i {
  transform: scale(1);
  transition-duration: 0.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ind04 .left a:hover .pic img,
.ind04 .left a:hover .pic i {
  transform: scale(1.08);
  transition-duration: 0.5s;
}
.ind04 .left b {
  padding: 0 16px;
  line-height: 50px;
  font-size: 18px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #fff;
}
.ind04 .left a:hover b {
  color: #125999;
}
.ind04 .left a.one {
  margin: 0 0 7px 0;
  width: 581px;
}
.ind04 .left a.one .pic {
  height: 293px;
}
.ind04 .left a.one b {
  line-height: 54px;
}
.ind04 .tab {
  position: relative;
  float: right;
  width: 545px;
}
.ind04 .tab_tit {
  margin-bottom: 0px;
  position: relative;
}
.ind04 .tab_tit .swiper-wrapper {
  border-bottom: #cfcfcf 1px solid;
}
.ind04 .tab_tit a {
  transition: all 0.3s;
  position: relative;
  float: left;
  margin-right: 40px;
  padding-bottom: 8px;
  width: auto;
  line-height: 42px;
  font-size: 18px;
  color: #444;
  cursor: pointer;
}
.ind04 .tab_tit a::after {
  transition: all 0.5s;
  position: absolute;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
  z-index: 3;
  width: 0;
  height: 2px;
  background: #0c4da0;
  content: "";
}
.ind04 .tab_tit a.swiper-slide-thumb-active {
  transition: all 0.3s;
  color: #0c4da0;
  font-weight: bold;
}
.ind04 .tab_tit a.swiper-slide-thumb-active::after {
  transition: all 0.5s;
  width: 100%;
}
.ind04 .tab_more {
  position: absolute;
  right: 0;
  top: 6px;
  z-index: 3;
  line-height: 30px;
  font-size: 16px;
}
.ind04 .tab_more a {
  color: #333;
}
.ind04 .tab_more a:hover {
  color: #125999;
}
.ind04 .tab_next .next {
  display: block;
}
.ind04 .tab_next .list {
  display: none;
}
.ind04 .tab_next .next .text {
  margin: 29px 0 0px;
  padding-bottom: 22px;
  border-bottom: #cfcfcf 1px dashed;
}
.ind04 .tab_next .next .text p {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ind04 .tab_next .next .text b {
  padding-top: 11px;
  height: 46px;
  font-size: 14px;
  color: #999;
  line-height: 23px;
  text-indent: 2em;
}
.ind04 .tab_next .next .text b i {
  display: inline;
  text-indent: 0em;
}
.ind04 .tab_next .next .text b em {
  display: inline;
  color: #1a9cb2;
  text-indent: 0em;
}
.ind04 .tab_next .next .text:hover p {
  color: #125999;
}
.ind04 .tab_next .next .text:hover b {
  color: #666;
}
.ind05 {
  padding: 50px 0 100px;
}
.ind05 .tab {
  position: relative;
  width: 770px;
}
.ind05 .title_all {
  display: none;
}
.ind05 .tab_tit {
  margin-bottom: 32px;
  line-height: 30px;
}
.ind05 .tab_tit a {
  float: left;
  width: auto;
  cursor: pointer;
}
.ind05 .tab_tit a p {
  float: left;
  font-size: 22px;
  color: #333;
  font-weight: bold;
}
.ind05 .tab_tit a i {
  float: left;
  margin: 6px 26px;
  width: 1px;
  height: 18px;
  background: #d0d0d0;
}
.ind05 .tab_tit a.swiper-slide-thumb-active p {
  color: #125999;
}
.ind05 .tab_more {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  line-height: 30px;
  font-size: 16px;
}
.ind05 .tab_more a {
  color: #333;
}
.ind05 .tab_more a:hover {
  color: #125999;
}
.ind05 .tab_next {
  padding: 30px 33px 30px 41px;
  width: calc(100% - 74px);
  height: 273px;
  box-shadow: 0 0 30px rgba(94, 158, 255, 0.2);
  border-radius: 10px;
}
.ind05 .tab_next .list_box a {
  line-height: 39px;
}
.ind05 .tab_next .list_box i {
  float: left;
  position: relative;
  z-index: 3;
  width: 26px;
  height: 39px;
  background: url(../images/icon/icon_3.jpg) left center no-repeat;
  background-size: 5px auto;
}
.ind05 .tab_next .list_box p {
  float: left;
  max-width: 80%;
  font-size: 16px;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ind05 .tab_next .list_box em {
  float: right;
  font-size: 18px;
  color: #666;
  font-family: Arial;
}
.ind05 .tab_next .list_box a:hover p,
.ind05 .tab_next .list_box a:hover em {
  color: #125999;
}
.ind05 .tab_next .list_box a:hover i {
  background: url(../images/icon/icon_3s.jpg) left center no-repeat;
  background-size: 5px auto;
}
.ind05 .right {
  position: relative;
  width: 390px;
}
.ind05 .right .pic {
  margin-bottom: 30px;
  width: 100%;
  height: 104px;
  overflow: hidden;
}
.ind05 .right .pic i,
.ind05 .right .pic img {
  transform: scale(1);
  transition-duration: 0.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ind05 .right .pic:hover i,
.ind05 .right .pic:hover img {
  transform: scale(1.08);
  transition-duration: 0.5s;
}
.ind05 .right .tab_next {
  padding: 22px 20px;
  width: calc(100% - 40px);
  height: 289px;
}
.ind05 .right ul a {
  padding-left: 34px;
  font-size: 16px;
  line-height: 32px;
  color: #333;
  background: url(../images/icon/icon_4.png) 4px center no-repeat;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ind05 .right ul a:hover {
  color: #125999;
  background: url(../images/icon/icon_4s.png) 4px center no-repeat;
}
.ind05 .right .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
}
.ind05 .right .swiper-pagination-bullet {
  background: #999;
}
.ind05 .right .swiper-pagination-bullet-active {
  background: #165999;
}
.ind06 {
  padding: 46px 0 70px;
  background: #f2f7fe;
}
.ind06 .title_all.w {
  display: none;
}
.ind06 .title_all b {
  color: #125999;
}
.ind06 .next {
  display: block;
  margin: 0 auto;
  width: 1200px;
}
.ind06 .m_next {
  display: none;
}
.ind06 .next a {
  position: relative;
  float: left;
  width: 391px;
  height: 214px;
  border-radius: 10px;
  overflow: hidden;
}
.ind06 .next video {
  width: 100%;
  height: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}
.ind06 .next .pic {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ind06 .next .pic i,
.ind06 .next .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ind06 .next .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/icon/icon_6.png) center no-repeat;
  background-size: 45px auto;
  cursor: pointer;
}
.ind06 .next .pos_text {
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 0 22px;
  width: calc(100% - 44px);
  line-height: 46px;
  font-size: 16px;
  color: #fff;
  background: url(../images/index/ind06_bac2.png) left bottom repeat-x;
}
.ind06 .next .pos_text p {
  float: left;
  max-width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ind06 .next .pos_text em {
  display: none;
  float: right;
  font-family: Arial;
}
.ind06 .next .a_1 {
  margin-right: 13px;
  width: 796px;
  height: 434px;
}
.ind06 .next .a_1 .pos_text {
  padding-top: 38px;
  background: url(../images/index/ind06_bac.png) left bottom repeat-x;
}
.ind06 .next .a_2 {
  margin-bottom: 6px;
}
/*视频播放弹窗*/
.pop_video {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 31;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1341px;
  background: #000;
}
.pop_video video {
  width: 100%;
}
.pop_video i {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 18px;
  height: 18px;
  background: url(../images/icon/icon_25.png) center no-repeat;
  cursor: pointer;
}
.pop_video_bac {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
.ind01 .next,
.ind01 .pic,
.ind02 .title,
.ind02 .tab_next,
.ind02 .next dl dt,
.ind02 .next dl dd,
.ind03 .title_all,
.ind03 .tab_next,
.ind03 .right,
.ind04 .left,
.ind04 .tab,
.ind05 .tab,
.ind05 .right,
.ind06 .title_all,
.ind06 .next,
.footer .w1200 {
  visibility: hidden;
}
.ind01.active .next,
.ind01.active .pic,
.ind02.active .title,
.ind02.active .tab_title,
.ind02.active .tab_next,
.ind02.active .next dl dt,
.ind02.active .next dl dd,
.ind03.active .title_all,
.ind03.active .tab_next,
.ind03.active .right,
.ind04.active .left,
.ind04.active .tab,
.ind05.active .tab,
.ind05.active .right,
.ind06.active .title_all,
.ind06.active .next,
.footer.active .w1200 {
  visibility: visible;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.ind01.active .pic {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.ind02.active .title {
  -webkit-animation-name: fadeInUp_box;
  animation-name: fadeInUp_box;
}
.ind02.active .tab_title {
  -webkit-animation-name: fadeInUp_box;
  animation-name: fadeInUp_box;
}
.ind02.active .tab_next {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.ind02.active .next dl dt {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.ind02.active .next dl dd {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.ind03.active .title_all {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
@media (max-width: 1200px) {
  
  .banner {
    position: relative;
  }
  .banner .pic {
    display: none;
  }
  .banner .m_pic {
    display: block;
    position: relative;
    width: 100%;
    height: calc(100vh - 0rem);
    overflow: hidden;
  }
  .banner .m_pic i {
    transform: scale(1.08);
    transition-duration: 20s;
    width: 100%;
    height: 100%;
  }
  .banner .swiper-slide-active .m_pic i {
    transform: scale(1);
    transition-duration: 20s;
  }
  .banner .m_pic img {
    position: absolute;
    left: 0;
    top: 54%;
    width: 100%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  .banner .s1 .dot {
    position: absolute;
    left: 29.4%;
    top: 42%;
    z-index: 4;
    cursor: pointer;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  .banner .s1 .dot .icon {
    position: relative;
    margin-left: -0.25rem;
    margin-bottom: 0.12rem;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../images/mobile/icon/ind08_5.png) center no-repeat;
    background-size: 100% auto;
  }
  .banner .s1 .dot .icon::before {
    content: '';
    position: absolute;
    background: url(../images/mobile/icon/ind08_5_bors.png) center no-repeat;
    background-size: 100% auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    opacity: 1;
    -webkit-animation-name: hvr-ripple-out-j;
    animation-name: hvr-ripple-out-j;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  .banner .s1 .dot .icon::after {
    content: '';
    position: absolute;
    background: url(../images/mobile/icon/ind08_5_bor.png) center no-repeat;
    background-size: 100% auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    opacity: 1;
    -webkit-animation-name: hvr-ripple-out-s;
    animation-name: hvr-ripple-out-s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  .banner .s1 .dot p {
    margin-left: -0.96rem;
    font-size: 0.24rem;
    color: #fff;
  }
  @-webkit-keyframes hvr-ripple-out-j {
    1% {
      opacity: 1;
    }
    100% {
      top: -0.1rem;
      right: -0.1rem;
      bottom: -0.1rem;
      left: -0.1rem;
      opacity: 0;
    }
  }
  @keyframes hvr-ripple-out-j {
    1% {
      opacity: 1;
    }
    100% {
      top: -0.1rem;
      right: -0.1rem;
      bottom: -0.1rem;
      left: -0.1rem;
      opacity: 0;
    }
  }
  @-webkit-keyframes hvr-ripple-out-s {
    1% {
      opacity: 1;
    }
    100% {
      top: -0.08rem;
      right: -0.08rem;
      bottom: -0.08rem;
      left: -0.08rem;
      opacity: 0;
    }
  }
  @keyframes hvr-ripple-out-s {
    1% {
      opacity: 1;
    }
    100% {
      top: -0.08rem;
      right: -0.08rem;
      bottom: -0.08rem;
      left: -0.08rem;
      opacity: 0;
    }
  }
  .banner .s1 .next {
    position: absolute;
    left: 1.14rem;
    top: 50%;
    margin-top: -3.93rem;
    z-index: 4;
  }
  .banner .s1 .next .bor_box {
    transition: all 0.5s;
    position: relative;
    width: 6.25rem;
    height: 0px;
    overflow: hidden;
  }
  .banner .s1 .next .bor_box.block {
    transition: all 0.5s;
    height: 8.26rem;
  }
  .banner .s1 .next .next_box {
    margin: 0 1.08rem 0.42rem 0;
    padding: 0.36rem 0.3rem 0.7rem;
    height: 6.8rem;
    border-radius: 0.06rem 1rem 0.06rem 1rem;
    background: #fff;
  }
  .banner .s1 .next .title {
    margin-bottom: 0.2rem;
    display: flex;
    font-size: 0.36rem;
    color: #165999;
  }
  .banner .s1 .next .title i {
    font-weight: bold;
  }
  .banner .s1 .next .title em {
    font-weight: bold;
    color: #169cb2;
  }
  .banner .s1 .next .mascot {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    width: 1.92rem;
    height: 1.64rem;
    background: url(../images/mobile/icon/icon_16.png) right bottom no-repeat;
    background-size: 100% auto;
  }
  .banner .s1 .next .delete {
    position: absolute;
    right: 0.6rem;
    top: 0.16rem;
    width: 0.45rem;
    height: 0.45rem;
    background: url(../images/mobile/icon/icon_15.png) center bottom no-repeat;
    background-size: 0.43rem auto;
    cursor: pointer;
  }
  .banner .s1 .scrollbar {
    height: 6.3rem;
  }
  .banner .s1 .scrollbar p {
    font-size: 0.28rem;
    color: #666;
    line-height: 0.41rem;
    text-indent: 2em;
    text-align: justify;
  }
  .banner .s1 .swiper-container {
    width: 100%;
    height: 100%;
  }
  .banner .s1 .swiper-slide {
    padding: 0 0.35rem 0 0;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .banner .s1 .swiper-container-vertical > .swiper-scrollbar {
    width: 3px;
  }
  .banner .s1 .swiper-scrollbar {
    left: initial;
    background: url(../images/mobile/icon/icon_15.jpg) center top repeat-y;
  }
  .banner .s1 .swiper-scrollbar-drag {
    background: #165999;
  }
  .banner .s1 .bac {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.33;
  }
  .banner .wave {
    bottom: 0.4rem;
  }
  .banner .waves {
    position: relative;
    width: 100%;
    height: 0.86rem;
    margin-bottom: -0.5rem;
    /*Fix for safari gap*/
  }
  .banner .s2 .pic {
    display: block;
  }
  .banner .s2 .pic img {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .banner .bor {
    height: 0.2rem;
  }
  .banner .parallax {
    width: 100%;
  }
  .banner .parallax > use {
    animation: move-forever 50s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .banner .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 14s;
  }
  .banner .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 20s;
  }
  .banner .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 26s;
  }
  .banner .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 40s;
  }
  .title_all {
    position: relative;
    z-index: 3;
    margin-bottom: 0;
    height: 0.5rem;
    line-height: 0.5rem;
    overflow: hidden;
  }
  .title_all span {
    float: left;
    margin: 0.08rem 0.12rem 0 0;
    width: 0.06rem;
    height: 0.37rem;
    background: #1a9cb2;
  }
  .title_all b {
    float: left;
    font-size: 0.36rem;
    color: #125999;
    font-weight: bold;
  }
  .title_all b em {
    display: initial;
    color: #125999;
    font-weight: bold;
  }
  .title_all .more {
    transition: all 0.5s;
    float: right;
    position: relative;
    padding: 0 0.4rem;
    line-height: 0.5rem;
    font-size: 0.22rem;
    color: #333;
  }
  .title_all .more::before {
    transition: all 0.5s;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 0.2rem;
    height: 1px;
    background: #666;
    content: '';
  }
  .title_all .more::after {
    transition: all 0.5s;
    position: absolute;
    right: 0px;
    top: 50%;
    width: 0.2rem;
    height: 1px;
    background: #666;
    content: '';
  }
  .ind01 {
    padding: 0.5rem 0 0.87rem;
  }
  .ind01 .title_all {
    display: block;
  }
  .ind01 .next {
    width: 100%;
  }
  .ind01 .next .title {
    margin-bottom: 0.43rem;
    font-size: 0.36rem;
    color: #125999;
  }
  .ind01 .next .title i {
    float: left;
    font-weight: bold;
  }
  .ind01 .next .title em {
    float: left;
    font-weight: bold;
    color: #1a9cb2;
  }
  .ind01 .next .title span {
    margin-top: 0.48rem;
    width: 1.62rem;
    height: 2px;
    background: #222;
  }
  .ind01 .next p {
    font-size: 0.28rem;
    color: #666;
    line-height: 0.5rem;
    text-align: justify;
    text-indent: 2em;
  }
  .ind01 .next .more {
    margin-top: 0.08rem;
    line-height: 0.7rem;
    font-size: 0.32rem;
    color: #333;
  }
  .ind01 .next .more em {
    display: inline-block;
    border-bottom: #0b4da2 1px solid;
  }
  .ind01 .pic {
    margin: 0.68rem 0 0;
    position: relative;
    width: 100%;
    height: 3.93rem;
    border-radius: 0.1rem;
    overflow: hidden;
    cursor: pointer;
  }
  .ind01 .pic i {
    width: 100%;
    height: 100%;
  }
  .ind01 .pic .pos {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.96rem;
    height: 0.96rem;
    background: url(../images/mobile/icon/icon_2.png) center no-repeat;
    background-size: 100% auto;
  }
  .ind02 {
    display: none;
  }
  .M_ind02 {
    display: block;
    position: relative;
    padding: 0.95rem 0 1.57rem;
    background: url(../images/mobile/index/ind02_bac.jpg) center no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .M_ind02 .w1200 {
    position: relative;
    z-index: 3;
  }
  .M_ind02 .title {
    margin-bottom: 0.5rem;
    font-size: 0.38rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .M_ind02 .tab_title {
    position: relative;
    z-index: 2;
    margin-bottom: 0.3rem;
  }
  .M_ind02 .tab_title .title_box {
    float: left;
    display: flex;
    justify-content: center;
    margin: 0 0 0.36rem;
    margin-right: calc((100% - 6rem)/2);
    width: 2rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background: #fff;
    border-radius: 0.1rem;
    cursor: pointer;
  }
  .M_ind02 .tab_title .title_box p {
    padding-left: 0.33rem;
    font-size: 0.28rem;
    font-weight: bold;
    color: #125999;
    background: url(../images/mobile/icon/icon_79.png) left center no-repeat;
    background-size: 0.22rem auto;
  }
  .M_ind02 .tab_title .title_box:nth-child(3),
  .M_ind02 .tab_title .title_box:nth-child(5) {
    margin-right: 0;
  }
  .M_ind02 .tab_title .title_box:nth-child(4) {
    margin-left: calc((100% - 4rem - ((100% - 6rem)/2))/2);
  }
  .M_ind02 .tab_title .title_box:nth-child(1) p {
    background: url(../images/mobile/icon/icon_78.png) left center no-repeat;
    background-size: 0.25rem auto;
  }
  .M_ind02 .tab_title .title_box.cur {
    background: #125999;
  }
  .M_ind02 .tab_title .title_box.cur p {
    color: #fff;
    background: url(../images/mobile/icon/icon_79s.png) left center no-repeat;
    background-size: 0.22rem auto;
  }
  .M_ind02 .tab_title .title_box:nth-child(1).cur p {
    background: url(../images/mobile/icon/icon_78s.png) left center no-repeat;
    background-size: 0.25rem auto;
  }
  .M_ind02 .swiper-container-h {
    padding-bottom: 0.65rem;
  }
  .M_ind02 .next {
    position: relative;
    z-index: 2;
  }
  .M_ind02 .next .bac_zz {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 1200px;
    height: 100%;
    background: #000;
    opacity: 0.5;
    cursor: pointer;
  }
  .M_ind02 .module {
    margin-left: 4%;
    width: 6.5rem;
    border-radius: 0.1rem;
    overflow: hidden;
  }
  .M_ind02 .module:last-child {
    margin-right: 4%;
  }
  .M_ind02 .over {
    background: #fff;
  }
  .M_ind02 .left {
    position: relative;
    width: 100%;
    height: 2.26rem;
    overflow: hidden;
  }
  .M_ind02 .left i {
    transform: scale(1);
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
  }
  .M_ind02 .module:hover .left i {
    transform: scale(1.08);
    transition-duration: 0.5s;
  }
  .M_ind02 .left .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
  }
  .M_ind02 .left b {
    margin-bottom: 0.05rem;
    font-size: 0.5rem;
    font-weight: bold;
  }
  .M_ind02 .left em {
    margin-bottom: 0.18rem;
    font-size: 0.22rem;
    font-family: Arial;
    font-weight: bold;
  }
  .M_ind02 .left span {
    margin: 0 auto;
    width: 0.35rem;
    height: 2px;
    background: #fff;
  }
  .M_ind02 .right {
    padding: 0 4% 0.55rem;
    background: #fff;
  }
  .M_ind02 .right .swiper-container {
    padding: 0.4rem 0 0.64rem;
  }
  .M_ind02 .right .swiper-slide {
    padding: 1px 0;
    font-size: 0;
  }
  .M_ind02 .right .swiper-slide .a_ls {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    margin: 0 2.6% 0.2rem 0;
    width: 48.7%;
    height: 0.92rem;
    line-height: 0.35rem;
    font-size: 0.24rem;
    color: #333;
    border-radius: 6px;
    background: #f4f6f7;
    overflow: hidden;
  }
  .M_ind02 .right .swiper-slide .a_ls p {
    margin: 0 auto;
    width: 92%;
    text-align: center;
  }
  .M_ind02 .right .swiper-slide .a_ls:nth-child(2n) {
    margin-right: 0;
  }
  .M_ind02 .right .swiper-slide .a_ls.cur {
    color: #ccc;
    cursor: not-allowed;
  }
  .M_ind02 .right .swiper-slide .a_ls.cur::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0.8rem;
    height: 0.28rem;
    border-radius: 6px 0 6px 0;
    content: "";
  }
  .M_ind02 .swiper-pagination-h {
    bottom: 0;
  }
  .M_ind02 .swiper-pagination-h .swiper-pagination-bullet {
    transition: all 0.5s;
    width: 0.12rem;
    height: 0.12rem;
    background: #fff;
    opacity: 1;
    border-radius: 0.12rem;
  }
  .M_ind02 .swiper-pagination-h .swiper-pagination-bullet-active {
    transition: all 0.5s;
    width: 0.28rem;
  }
  .M_ind02 .swiper-pagination-v {
    bottom: 0.26rem;
  }
  .M_ind02 .swiper-pagination-v .swiper-pagination-bullet {
    transition: all 0.5s;
    width: 0.12rem;
    height: 0.12rem;
    background: #125999;
    border-radius: 0.12rem;
    opacity: 1;
  }
  .M_ind02 .swiper-pagination-v .swiper-pagination-bullet-active {
    transition: all 0.5s;
    width: 0.28rem;
    background: #125999;
  }
  .M_ind02 .next dl dt,
  .M_ind02 .next dl dd {
    width: 49%;
  }
  .M_ind02 .next dl dt a,
  .M_ind02 .next dl dd a {
    width: 100%;
  }
  .M_ind02 .next dl img {
    margin-top: 0.7rem;
    width: 100%;
    border-radius: 0.08rem;
  }
  .M_ind02 .outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 0.1rem;
    height: 0.1rem;
    overflow: hidden;
  }
  .M_ind02 .wave {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 100%;
  }
  .M_ind02 .waves {
    position: relative;
    width: 100%;
    height: 1rem;
    margin-bottom: -0.3rem;
    /*Fix for safari gap*/
  }
  .M_ind02 .parallax > use {
    animation: move-forever 50s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .M_ind02 .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 20s;
  }
  .M_ind02 .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 28s;
  }
  .M_ind02 .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 34s;
  }
  .M_ind02 .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 48s;
  }
  .M_ind02 section {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
  }
  .ind03 {
    padding: 0.6rem 0 1rem;
  }
  .ind03 .title_all {
    margin-bottom: 0.4rem;
  }
  .ind03 .title_all a {
    display: none;
  }
  .ind03 .tab_next {
    margin-bottom: 0.57rem;
    padding: 0.68rem 0.5rem 0.4rem;
    width: calc(100% - 1rem);
    height: auto;
    border-radius: 0.1rem;
    box-shadow: 0 0 0.2rem rgba(94, 158, 255, 0.2);
  }
  .ind03 .tab_next .title_box {
    position: relative;
    margin-bottom: 0;
    font-size: 0.4rem;
    font-weight: bold;
    color: #125999;
  }
  .ind03 .tab_next .list_box a {
    padding: 0.3rem 0 0.3rem 0.23rem;
    border-bottom: #f0efef 1px solid;
    background: url(../images/mobile/icon/icon_3.jpg) left 0.48rem no-repeat;
    background-size: 0.1rem auto;
  }
  .ind03 .tab_next .list_box a i {
    display: none;
  }
  .ind03 .tab_next .list_box a:last-child {
    border-bottom: none;
  }
  .ind03 .tab_next .list_box p {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    max-height: 0.88rem;
    line-height: 0.44rem;
    font-size: 0.32rem;
    color: #333;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -ms-box;
    -ms-line-clamp: 2;
    -ms-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -o-box;
    -o-line-clamp: 2;
    -o-box-orient: vertical;
  }
  .ind03 .tab_next .list_box em {
    float: left;
    line-height: 0.6rem;
    font-size: 0.33rem;
    color: #333;
    opacity: 0.7;
    font-family: Arial;
  }
  .ind03 .tab_next .list_box a:hover p,
  .ind03 .tab_next .list_box a:hover em {
    color: #125999;
  }
  .ind03 .tab_next .list_box a:hover {
    background: url(../images/mobile/icon/icon_3s.jpg) left 0.75rem no-repeat;
    background-size: 0.1rem auto;
  }
  .ind03 .right {
    padding: 0.7rem 0.5rem 0.2rem;
    width: calc(100% - 1rem);
    height: auto;
    border-radius: 0.1rem;
    background: #1a9cb2;
  }
  .ind03 .right dt {
    position: relative;
    margin-bottom: 0;
    font-size: 0.4rem;
    font-weight: bold;
    color: #fff;
  }
  .ind03 .right dd a {
    margin-top: 0;
    padding: 0.5rem 0;
    border-bottom: #8dced9 1px solid;
  }
  .ind03 .right dd:last-child a {
    border-bottom: none;
  }
  .ind03 .right dd p {
    margin-bottom: 0.2rem;
    padding-left: 0.28rem;
    line-height: 0.44rem;
    font-size: 0.32rem;
    color: #fff;
    background: url(../images/mobile/icon/icon_5.jpg) left 0.18rem no-repeat;
    background-size: 0.1rem auto;
  }
  .ind03 .right dd em {
    padding-left: 0.28rem;
    font-size: 0.28rem;
    color: #fff;
    opacity: 0.7;
    font-family: Arial;
  }
  .ind04 {
    padding: 0.9rem 0 0.88rem;
    background: #f2f7fe;
  }
  .ind04 .title_all {
    display: none;
  }
  .ind04 .left {
    width: 100%;
  }
  .ind04 .left a {
    display: none;
    margin-bottom: 0.33rem;
    width: 100%;
  }
  .ind04 .left a.one {
    display: block;
    width: 100%;
  }
  .ind04 .left .pic {
    width: 100%;
    height: 3.46rem;
    border-radius: 0.1rem;
    overflow: hidden;
  }
  .ind04 .left a.one .pic {
    height: 3.46rem;
  }
  .ind04 .left .pic i {
    transform: scale(1);
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
  }
  .ind04 .left a:hover .pic i {
    transform: scale(1.08);
    transition-duration: 0.5s;
  }
  .ind04 .left b {
    padding: 0.34rem 0;
    line-height: 0.5rem;
    font-size: 0.3rem;
    color: #333;
    font-weight: normal;
    border-bottom: #dbdcde 1px solid;
    background: none;
  }
  .ind04 .left a.one b {
    line-height: 0.5rem;
  }
  .ind04 .left a:hover b {
    color: #125999;
  }
  .ind04 .tab {
    width: 100%;
  }
  .ind04 .tab_tit {
    margin-bottom: 0px;
    position: relative;
  }
  .ind04 .tab_tit a {
    transition: all 0.3s;
    position: relative;
    margin-right: 0.35rem;
    padding-bottom: 0;
    width: auto;
    line-height: 1.24rem;
    font-size: 0.36rem;
    color: #444;
    font-weight: bold;
  }
  .ind04 .tab_tit a::after {
    transition: all 0.5s;
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);
    z-index: 3;
    width: 0;
    height: 2px;
    background: #0c4da0;
    content: "";
  }
  .ind04 .tab_tit a.swiper-slide-thumb-active {
    transition: all 0.3s;
    color: #0c4da0;
    font-weight: bold;
  }
  .ind04 .tab_tit a.swiper-slide-thumb-active::after {
    transition: all 0.5s;
    width: 100%;
  }
  .ind04 .tab_more {
    display: none;
  }
  .ind04 .tab_next .next {
    display: none;
  }
  .ind04 .tab_next .list {
    display: block;
  }
  .ind04 .tab_next .list a {
    position: relative;
    padding: 0.35rem 0;
    border-bottom: #e8e8e8 1px solid;
  }
  .ind04 .tab_next .list .pic {
    margin: 0 0 0 0.35rem;
    width: 2.8rem;
    height: 1.57rem;
    border-radius: 0.08rem;
    overflow: hidden;
  }
  .ind04 .tab_next .list .pic i {
    transition: all 0.5s;
    transform: scale(1);
    width: 100%;
    height: 100%;
  }
  .ind04 .tab_next .list .text {
    margin-top: 0rem;
  }
  .ind04 .tab_next .list .text b {
    margin: 0 0 0.2rem;
    max-height: 0.8rem;
    line-height: 0.4rem;
    font-size: 0.32rem;
    color: #333;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -ms-box;
    -ms-line-clamp: 2;
    -ms-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -o-box;
    -o-line-clamp: 2;
    -o-box-orient: vertical;
  }
  .ind04 .tab_next .list .text p {
    max-height: 1.2rem;
    font-size: 0.28rem;
    line-height: 0.4rem;
    color: #999;
    font-family: Arial;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -ms-box;
    -ms-line-clamp: 3;
    -ms-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 3;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -o-box;
    -o-line-clamp: 3;
    -o-box-orient: vertical;
  }
  .ind05 {
    padding: 0.74rem 0 0.8rem;
  }
  .ind05 .tab {
    position: relative;
    width: 100%;
  }
  .ind05 .tab_tit {
    margin: 0 0 0.6rem 4%;
  }
  .ind05 .tab_tit a {
    width: auto;
    line-height: 0.52rem;
  }
  .ind05 .tab_tit a p {
    transition: all 0.5s;
    font-size: 0.36rem;
    color: #333;
  }
  .ind05 .tab_tit a:nth-child(2) p {
    margin-left: 0.26rem;
  }
  .ind05 .tab_tit a:nth-child(2).swiper-slide-thumb-active p {
    margin-left: 0.14rem;
  }
  .ind05 .tab_tit a:last-child p {
    margin-left: -0.2rem;
  }
  .ind05 .tab_tit a.swiper-slide-thumb-active p {
    transition: all 0.5s;
    font-size: 0.4rem;
    color: #125999;
    font-weight: bold;
  }
  .ind05 .tab .tab_more {
    display: none;
  }
  .ind05 .tab_next {
    margin-bottom: 0.8rem;
    padding: 0 0.47rem;
    width: calc(100% - 0.94rem);
    height: auto;
    border-radius: 0.1rem;
    box-shadow: 0 0 0.3rem rgba(94, 158, 255, 0.2);
  }
  .ind05 .tab_next .list_box a {
    padding: 0.32rem 0 0.32rem 0.35rem;
    border-bottom: #f0efef 1px solid;
    background: url(../images/mobile/icon/icon_3.jpg) left 0.75rem no-repeat;
    background-size: 0.1rem auto;
  }
  .ind05 .tab_next .list_box a i {
    display: none;
  }
  .ind05 .tab_next .list_box a:last-child {
    border-bottom: none;
  }
  .ind05 .tab_next .list_box p {
    margin-bottom: 0.1rem;
    width: 100%;
    max-width: 100%;
    max-height: 0.88rem;
    line-height: 0.44rem;
    font-size: 0.32rem;
    color: #333;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -ms-box;
    -ms-line-clamp: 2;
    -ms-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -o-box;
    -o-line-clamp: 2;
    -o-box-orient: vertical;
  }
  .ind05 .tab_next .list_box em {
    float: left;
    line-height: 0.4rem;
    font-size: 0.28rem;
    color: #333;
    opacity: 0.7;
    font-family: Arial;
  }
  .ind05 .tab_next .list_box a:hover p,
  .ind05 .tab_next .list_box a:hover em {
    color: #125999;
  }
  .ind05 .tab_next .list_box a:hover {
    background: url(../images/mobile/icon/icon_3s.jpg) left 0.75rem no-repeat;
    background-size: 0.1rem auto;
  }
  .ind05 .right {
    position: relative;
    width: 100%;
  }
  .ind05 .right .pic {
    margin-bottom: 0.2rem;
    width: 100%;
    height: 1.84rem;
    overflow: hidden;
  }
  .ind05 .right .pic i {
    transform: scale(1);
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
  }
  .ind05 .right .pic:hover i {
    transform: scale(1.08);
    transition-duration: 0.5s;
  }
  .ind05 .right .tab_next {
    margin: 0.5rem 0 0;
    padding: 0.4rem;
    width: calc(100% - 0.8rem);
    height: auto;
    border-radius: 0.1rem;
  }
  .ind05 .right ul a {
    padding-left: 0.45rem;
    font-size: 0.34rem;
    line-height: 0.8rem;
    color: #333;
    background: url(../images/mobile/icon/icon_4.png) left center no-repeat;
    background-size: 0.32rem auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .ind05 .right ul a:hover {
    color: #125999;
    background: url(../images/mobile/icon/icon_4s.png) left center no-repeat;
    background-size: 0.32rem auto;
  }
  .ind06 {
    padding: 0.2rem 0 0.8rem;
    background: none;
    /*  background: #f2f7fe; */
  }
  .ind06 .title_all.w {
    display: block;
  }
  .ind06 .title_all b {
    color: #125999;
  }
  .ind06 .next {
    display: none;
  }
  .ind06 .m_next {
    display: block;
  }
  .ind06 .m_next {
    margin-top: 0.6rem;
  }
  .ind06 .m_next .swiper-slide {
    margin: 0 0.11rem;
    width: 6.55rem;
  }
  .ind06 .m_next a {
    position: relative;
    width: 100%;
    height: 3.58rem;
    overflow: hidden;
  }
  .ind06 .m_next a.a_1 {
    margin-right: 0px;
    width: 100%;
    height: 3.58rem;
  }
  .ind06 .m_next video {
    width: 100%;
    height: 100%;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .ind06 .m_next .pic {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.1rem;
    overflow: hidden;
  }
  .ind06 .m_next .pic i,
  .ind06 .m_next .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .ind06 .m_next .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/mobile/icon/icon_6.png) center no-repeat;
    background-size: 45px auto;
    cursor: pointer;
  }
  .ind06 .m_next .pos_text {
    padding: 0.26rem 0.1rem 0.2rem 0;
    width: calc(100% - 0.1rem);
    line-height: 0.46rem;
    font-size: 0.34rem;
    color: #333;
  }
  .ind06 .swiper-pagination {
    bottom: 0.02rem;
  }
  .ind06 .swiper-pagination .swiper-pagination-bullet {
    transition: all 0.5s;
    width: 0.12rem;
    height: 0.12rem;
    background: #ececed;
    border-radius: 0.12rem;
    opacity: 1;
  }
  .ind06 .swiper-pagination .swiper-pagination-bullet-active {
    transition: all 0.5s;
    width: 0.28rem;
    background: #125999;
  }
  .ind01 .next,
  .ind01 .pic,
  .ind02 .title,
  .ind02 .tab_next,
  .ind02 .next dl dt,
  .ind02 .next dl dd,
  .ind03 .title_all,
  .ind03 .tab_next,
  .ind03 .right,
  .ind04 .left,
  .ind04 .tab,
  .ind05 .tab,
  .ind05 .right,
  .ind06 .title_all,
  .ind06 .next,
  .footer .w1200 {
    visibility: hidden;
  }
  .ind01.active .next,
  .ind01.active .pic,
  .ind02.active .title,
  .ind02.active .tab_next,
  .ind02.active .next dl dt,
  .ind02.active .next dl dd,
  .ind03.active .title_all,
  .ind03.active .tab_next,
  .ind03.active .right,
  .ind04.active .left,
  .ind04.active .tab,
  .ind05.active .tab,
  .ind05.active .right,
  .ind06.active .title_all,
  .ind06.active .next,
  .footer.active .w1200 {
    visibility: visible;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  .ind01.active .pic {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .ind02.active .title {
    -webkit-animation-name: fadeInUp_box;
    animation-name: fadeInUp_box;
  }
  .ind02.active .next dl dt {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .ind02.active .next dl dd {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  .ind03.active .title_all {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }
}
/*弹窗*/
.pop_add {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 32;
  margin-top: 50px;
  transform: translate(-50%, -50%);
}
.pop_add .bor {
  position: relative;
  width: 460px;
  height: 260px;
  border-radius: 30px;
  background: #005fa3;
}
.pop_add .bor i {
  position: absolute;
  left: 50%;
  top: -60px;
  margin: 0 0 26px -60px;
  width: 120px;
  height: 120px;
  background: url(../images/icon/icon_54.png) center no-repeat;
  background-size: 100% auto;
}
.pop_add .bor .text {
  padding: 82px 15px 40px;
  line-height: 40px;
  font-size: 28px;
  color: #fff;
  text-align: center;
}
.pop_add .bor a {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 53px;
  line-height: 53px;
  font-size: 20px;
  color: #005fa3;
  text-align: center;
  background: #fff;
  border-radius: 28px;
  cursor: pointer;
}
.pop_add_bac {
  display: none;
  position: fixed;
  left: 0%;
  top: 0;
  z-index: 31;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
@media (max-width: 1200px) {
  .pop_add {
    margin-top: 50px;
  }
  .pop_add .bor {
    width: 5.74rem;
    height: 3.4rem;
    border-radius: 0.4rem;
  }
  .pop_add .bor i {
    top: -0.99rem;
    margin: 0 0 0.38rem -0.87rem;
    width: 1.74rem;
    height: 1.74rem;
    background: url(../images/icon/icon_54.png) center no-repeat;
    background-size: 100% auto;
  }
  .pop_add .bor .text {
    padding: 1.12rem 0.15rem 0.4rem;
    line-height: 0.5rem;
    font-size: 0.36rem;
  }
  .pop_add .bor em,
  .pop_add .bor a {
    width: 2.4rem;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.28rem;
    border-radius: 0.33rem;
  }
}
